body{
  font-family: "Montserrat";
}


#title{
  background-color: #ff4c68;
  color: #fff;
}

p {
  color: #8f8f8f;
}

h1{
  font-family: "Montserrat";
  font-size: 3rem;
  line-height: 1.5;
}

h2{
    font-family: "Montserrat";
    font-size: 1.5rem;
    line-height: 1.25;
}

h3{
  font-family: "Montserrat";
  font-size: 1.5rem;
}

#Copyright-footer{
  text-align: center;
}

.container-fluid{
  padding: 3% 15%;
}

.title-image{
  background-color: transparent;
  transform: rotate(0deg);
  width: 100%;

  }

.navbar-brand {
  font-family: "Montserrat";
  font-size: 1.8rem;

}
.navbar{
  padding-bottom: 4.5rem;
}

.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat";
}
#features{
  padding: 7% 15%;
}
.feature-box{
  text-align: center;
  padding: 4%;
}
.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}
.icon:hover{
  color: #ff4c68;
}
#testimonials{
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.testimonial-image{
  border-radius: 100%;
  margin: 20px;
  width: 10%;
}

.carousel-item {
  padding: 7% 15%;
}

#press{
  text-align: center;
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 10px 10px 20px;
}
